<div class="row">
  <div class="col-md-12">
    <div class="card" id='slides'>
      <div class="header">
        <h4 class="title">IPython notebooks</h4>
        <p class="category"></p>
      </div>
      <div class="content all-icons">
        <div class="row">
          <% @static_pages.each do |nb, file| %>
          <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
            <div class="font-icon-detail">
              <p><%= nb %></p>
              <p><%= link_to(content_tag(:i, '', class: 'pe-7s-notebook'), action: 'show', title: nb, path:file) %>
              <%= link_to(content_tag(:i, '', class: 'pe-7s-download'), "/notebook/#{file}") %>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

